/* CSS for the body and all extra tags */
body{
    margin: 0;
    padding: 0;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: wheat;
    font-family: sans-serif;
}

/* CSS for welcome statement */
.welcome{
    width: 100%;
    text-align: center;
    padding: 7px 0px;
    font-size: 16px;
    font-weight: 600;
    font-family: cursive;
    color: white;
    background: black;
}

/* CSS for the header */
.header{
    height: 72px;
    width: 100%;
    /* padding: 24px 0px; */
    display: none;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}

/* left side of the header */
.left-header{
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.name span:nth-child(1){
    font-size: 21px;
    font-weight: bolder;
}
.name span:nth-child(2){
    font-size: 16px;
}

/* right side of the header */
.right-header{
    height: 100%;
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.opt{
    height: 100%;
    padding: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.top{
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top-text{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-text span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
}
.top-text:nth-child(1) span {
    position: relative;
    top: 50%;
}
.top-text:nth-child(2) span {
    position: relative;
    top: -50%;
}
.top::after{
    content: "";
    height: 1.5px;
    width: 100%;
    background-color: wheat;
    position: absolute;
    left: -100%;
    border-radius: 3px;
}